<<<<<<< HEAD

<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <br />
  <fieldset>
     <legend>Enter User Details</legend><br />

     <div>
         <%= f.label :name, 'Name' %>:
         <%= f.text_field :name, :size => 40 %>
     </div><br />
    
     <div>
         <%= f.label :password, 'Password' %>:
         <%= f.password_field :password, :size => 40 %>
     </div><br />

     <div>
         <%= f.label :password_confirmation, 'Confirm password' %>:
         <%= f.password_field :password_confirmation, :size => 40 %>
     </div><br />

     <div>
         <%= f.submit %>
     </div><br />

  </fieldset>
<% end %>
=======
<%= simple_form_for @customer do |c| %>

Name and Surname <br>
<%= c.text_field :name, {class:"textfield"} %><br><br>

Contact Numbers <br>
<%= c.text_field :phone, {class:"textfield"} %><br><br>

Physical Address <br>
<%= c.text_field :address, {class:"textfield"} %><br><br>

Email Address <br>
<%= c.text_field :email, {class:"textfield"} %><br><br>

Password <br>
<%= c.password_field :password, {class:"textfield"} %><br><br>


<%= submit_tag "Save", {class:"button-class"} %><br>

<% end %>
>>>>>>> a1a6f8affd8c0f1500ac245dcdfaf5ee5e38de87
