<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>
<h1>Dayshades Catalog</h1><br />
<% @products.each do |product| %>
<div class="entry" >
<%= image_tag(product.image_url, :size => "200x200") %>
<h3><%= product.product_name %></h3>
<%=sanitize product.description %>
<div class="price_line" >
<span class="price" ><%= number_to_currency(product.product_price) %></span>
<%= button_to 'Add to Cart', line_items_path(:product_id => product) %><br />
</div>
</div>
<% end %>

<%#line_items_path(:product_id => product)%>