<div class="admin-top">	
	<div class="wraptop">
	  <div class="top">
	   	<div class="top-panel-logo"><h1>DAYSHADES | <span>Admin</span></h1></div>
	        
	        <div class="top-panel-links">
	        	<ul>
	            	<li><%= link_to 'DASHBOARD', dashboard_index_path %></li>
	            	<li><%= link_to 'CUSTOMERS', customers_path %></li>
	            	<li><%= link_to 'CATEGORIES', categories_path %></li>
	            	<li><%= link_to 'PRODUCTS', products_path %></li>
<<<<<<< HEAD
	            	<li><%= link_to 'ORDERS', orders_path %></li>
=======
	            	<li><%= link_to 'ORDERS', "orders_path" %></li>
>>>>>>> a1a6f8affd8c0f1500ac245dcdfaf5ee5e38de87
	            	<li><%= link_to 'ADMINISTRATORS', administrators_new_path %></li>

	            </ul>
	        
	        </div>
		</div>
	</div>
</div>

<div class="admin-wrap">
	<div class="admin-content">
		<div class ="text">
<<<<<<< HEAD
			<h1>Register Adiminstrator</h1>
=======
			<h1>Register Adminstrator</h1>
>>>>>>> a1a6f8affd8c0f1500ac245dcdfaf5ee5e38de87
				<br>
	            	<div class = "left">
	            		<strong><p class="stat-blue"><%=flash[:notice] %></p></strong>
	            		<br><br>
	            		<%= render 'form' %>
					</div>

					<div class="right">
						<BR><BR>
	            		<table width="850" border="0">
							<tr>
								
								<td class="table-header-style td-width-100px"><b> NAME</b></td>
								<td class="table-header-style td-width-100px"><b> CONTACT NUMBERS</b></td>
								<td class="table-header-style td-width-100px"><b> EMAIL ADDRESS</b></td>
								<td class="table-header-style td-width-100px"><b> &nbsp;</b></td>
								
								
							</tr>
							<% @admins.each do |admin|  %>
								<tr>
									<td class=" td-width-100px"><%= admin.name %></td>
			                        <td class=" td-width-100px"><%= admin.phone %></td>
			                        <td class=" td-width-100px"><%= admin.email %></td>
			                        <td class=" td-width-100px"><%= link_to 'Show', admin %> | <%= link_to 'Edit', edit_administrator_path(admin) %> | <%= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
								</tr>
							<% end %>
<<<<<<< HEAD
=======
							
>>>>>>> a1a6f8affd8c0f1500ac245dcdfaf5ee5e38de87
						</table>
				    </div>
				    
        	</div>
        </div>
    </div>
							
</div>
<div class="clear"><br><br></div>
<div class="wrap-footer">
	<div class="footer">
		
	</div>
</div>

<div class="bottom-wrapper">
	<div class="bottom">
<<<<<<< HEAD
		<p class="text"><%= link_to 'HOME', public_home_path%> | <%= link_to 'ABOUT US', public_about_path %> | <%= link_to 'PRODUCTS', public_products_path %> | <%= link_to 'INSTRUCTIONS', public_instructions_path %> | <%= link_to 'CONTACT US', public_contact_path %></p>
=======
		
>>>>>>> a1a6f8affd8c0f1500ac245dcdfaf5ee5e38de87

        <p>Dayshades Bridal Boutique 2013 &copy; All rights reserved. Website by | <%= link_to 'Thabang Chewa ', "http://www.thabangchewa.co.za" %> & <%= link_to 'Lebo Modimola', "http://www.twitter.com/@leboomm" %> </p>
	</div>
</div>