<div class="admin-top">	
	<div class="wraptop">
	  <div class="top">
	   	<div class="top-panel-logo"><h1>DAYSHADES | <span>Admin</span></h1></div>
	        
	        <div class="top-panel-links">
	        	<ul>
	            	<li><%= link_to 'DASHBOARD', dashboard_index_path %></li>
<<<<<<< HEAD
	            	<li><%= link_to 'CUSTOMERS', customers_path %></li>
	            	<li><%= link_to 'CATEGORIES', categories_path %></li>
	            	<li><%= link_to 'PRODUCTS', products_path %></li>
	            	<li><%= link_to 'ORDERS', orders_path %></li>
=======
	            	<li><%= link_to 'CUSTOMERS', "customers_path" %></li>
	            	<li><%= link_to 'CATEGORIES', categories_path %></li>
	            	<li><%= link_to 'PRODUCTS', products_path %></li>
	            	<li><%= link_to 'ORDERS', "orders_path" %></li>
>>>>>>> a1a6f8affd8c0f1500ac245dcdfaf5ee5e38de87
	            	<li><%= link_to 'ADMINISTRATORS', administrators_new_path %></li>

	            </ul>
	        
	        </div>
		</div>
	</div>
</div>

<div class="admin-wrap">
	<div class="admin-content">
		<div class ="text">
			<h1>Category List</h1>
			<br>
			<strong><p class="stat-blue"><%=	flash[:notice] %></p></strong>
	           <br>
			<%= link_to 'ADD NEW CATEGORY', categories_new_path, {class:"button-class"} %>
			<br><br>
			<table width="1000" border="0" >
						<tr>
							<td class="table-header-style td-width-30px"><b>IMAGE</b></td>
							<td class="table-header-style td-width-80px"><b>NAME</b></td>
							<td class="table-header-style"><b>DESCRIPTION</b></td>
							<td width="200" class="table-header-style"><b>ACTION</b></td>
						</tr>
						<% @categories.each do |category| %>
							<tr>
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td><%= image_tag(category.image, :size => "85x100") %></td>
								<td class="td-width-80px"><%= category.name %></td>
								<td><%= category.description %> <br/></td>
								
								<td width="200" class="td-width-80px">  <%= link_to 'Edit', edit_category_path(category) %> | <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td
							</tr>
						<% end %>
						</table>
						
		</div>
	</div>
</div>

<div class="wrap-footer">
	<div class="footer">
		
	</div>
</div>

<div class="bottom-wrapper">
	<div class="bottom">
<<<<<<< HEAD
		<p class="text"><%= link_to 'HOME', public_home_path%> | <%= link_to 'ABOUT US', public_about_path %> | <%= link_to 'PRODUCTS', public_products_path %> | <%= link_to 'INSTRUCTIONS', public_instructions_path %> | <%= link_to 'CONTACT US', public_contact_path %></p>
=======
		
>>>>>>> a1a6f8affd8c0f1500ac245dcdfaf5ee5e38de87

        <p>Dayshades Bridal Boutique 2013 &copy; All rights reserved. Website by | <%= link_to 'Thabang Chewa ', "http://www.thabangchewa.co.za" %> & <%= link_to 'Lebo Modimola', "http://www.twitter.com/@leboomm" %> </p>
	</div>
</div>