<div class="admin-top">	
	<div class="wraptop">
	  <div class="top">
	   	<div class="top-panel-logo"><h1>DAYSHADES | <span>Admin</span></h1></div>
	        
	        <div class="top-panel-links">
	        	<ul>
	            	<li><%= link_to 'DASHBOARD', dashboard_index_path %></li>
<<<<<<< HEAD
	            	<li><%= link_to 'CUSTOMERS', customers_path %></li>
	            	<li><%= link_to 'CATEGORIES', categories_path %></li>
	            	<li><%= link_to 'PRODUCTS', products_path %></li>
	            	<li><%= link_to 'ORDERS', orders_path %></li>
=======
	            	<li><%= link_to 'CUSTOMERS', "#" %></li>
	            	<li><%= link_to 'CATEGORIES', categories_path %></li>
	            	<li><%= link_to 'PRODUCTS', products_path %></li>
	            	<li><%= link_to 'ORDERS', "orders_path" %></li>
>>>>>>> a1a6f8affd8c0f1500ac245dcdfaf5ee5e38de87
	            	<li><%= link_to 'ADMINISTRATORS', administrators_new_path %></li>

	            </ul>
	        
	        </div>
		</div>
	</div>
</div>

<div class="admin-wrap">
	<div class="admin-content">
		<div class ="text">
			<h1>Product Details</h1>
				<br>
	            	<div class = "column-left">
	            		
						  <%= image_tag(@product.image_big) %>
						  		
					</div>

					<div class="column-right">
						<h2>Details</h2>

						<table width="450">
							<tr>
								<td><b>ID</b></td>
								<td><b>CATEGORY</b></td>
							</tr>
							<% @categories.each do |c| %>
							<tr>
								<td><%= h(c.id) %></td>
								<td><%= h(c.name) %></td>
							</tr>
							<% end %>
						<table>

						<br>
						<table width="450">
							<tr>
								<td><b>CATEGORY ID</b></td>
								<td><%= @product.category_id %></td>
							</tr>
							<tr>
								<td><b>PRODUCT CODE</b></td>
								<td><%= @product.code.upcase %></td>
							</tr>

							<tr>
								<td><b>AVAILABLE COLOURS</b></td>
								<td><%= @product.color.upcase %></td>
							</tr>

							<tr>
								<td><b>PRODUCT FABRIC</b></td>
								<td><%= @product.fabric.upcase %></td>
							</tr>

							<tr>
								<td><b>PRICE</b></td>
								<td>R <%= @product.price %></td>
							</tr>


						</table>
	            		
				    </div>
        	</div>
        </div>
    </div>
							
</div>
<div class="clear"><br><br></div>
<div class="wrap-footer">
	<div class="footer">
		
	</div>
</div>

<div class="bottom-wrapper">
	<div class="bottom">
<<<<<<< HEAD
		<p class="text"><%= link_to 'HOME', public_home_path%> | <%= link_to 'ABOUT US', public_about_path %> | <%= link_to 'PRODUCTS', public_products_path %> | <%= link_to 'INSTRUCTIONS', public_instructions_path %> | <%= link_to 'CONTACT US', public_contact_path %></p>
=======
		
>>>>>>> a1a6f8affd8c0f1500ac245dcdfaf5ee5e38de87

        <p>Dayshades Bridal Boutique 2013 &copy; All rights reserved. Website by | <%= link_to 'Thabang Chewa ', "http://www.thabangchewa.co.za" %> & <%= link_to 'Lebo Modimola', "http://www.twitter.com/@leboomm" %> </p>
	</div>
</div>