<div class="wraptop">
  <div class="top">
        <div class="top-panel-links">
        	<ul class="list-align-right">
               <li><%= link_to 'REGISTER', customers_new_path %></li>
                <li><%= link_to 'SIGN IN', "#" %></li>
	            <li><%= link_to 'ADMIN', administrators_path %></li>
	            <li><%= image_tag ("facebook.png") %> </li>
                <li><%= image_tag ("twitter.png") %></li>
            </ul>
        </div>
	</div>
</div>

<div class="wrapper">
	<div class="content">
    	<div class="header-row">
    		<div class="logo">
    				<%= link_to (image_tag ("logo.png")), public_index_path %>
    		</div>
        </div>

        <div class="row">
        	<div class="nav">
        		<ul>
        			<li><%= link_to 'HOME', public_index_path%></li>
        			<li><%= link_to 'ABOUT US', public_about_path %></li>
        			<li><%= link_to 'PRODUCTS', public_list_path %></li>
        			<li><%= link_to 'INSTRUCTIONS', public_instructions_path %></li>
        			<li><%= link_to 'CONTACT US', public_contact_path %></li>
        		</ul>
        	</div>
    	</div>
            
            <div class="row">
	            <div class="content-col">
	            	<h1>Contact Us</h1>
	            		<div class='text-left'>
	            			<table border="0" width="500">
	            				<tr>
	            					<td><b>Contact Person</b></td>
	            					<td>Lebo Modimola</td>
	            				</tr>
	            				<tr>
	            					<td><b>Email Address</b></td>
	            					<td>lebo@dayshadesbridal.co.za</td>
	            				</tr>
	            				<tr>
	            					<td><b>Contact Number</b></td>
	            					<td>082 834 3093</td>
	            				</tr>

	            				<tr>
	            					<td>&nbsp;</td>
	            					<td>&nbsp;</td>
	            				</tr>

	            				<tr>
	            					<td><b>Contact Person</b></td>
	            					<td>Dikeledi Zitha</td>
	            				</tr>
	            				<tr>
	            					<td><b>Email Address</b></td>
	            					<td>dikeledi@dayshadesbridal.co.za</td>
	            				</tr>
	            				<tr>
	            					<td><b>Contact Number</b></td>
	            					<td>082 834 3093</td>
	            				</tr>

	            				<tr>
	            					<td>&nbsp;</td>
	            					<td>&nbsp;</td>
	            				</tr>

	            				<tr>
	            					<td><b>Contact Person</b></td>
	            					<td>Thabang Chewa</td>
	            				</tr>
	            				<tr>
	            					<td><b>Email Address</b></td>
	            					<td>thabang@dayshadesbridal.co.za</td>
	            				</tr>
	            				<tr>
	            					<td><b>Contact Number</b></td>
	            					<td>076 020 8554</td>
	            				</tr>


	            			</table>
	            	

	            		</div>

	            		<div class='text-right'>
	            			<h2>Contact Form</h2> 
	            				<br>
	            			<%= form_tag(public_contact_path) do %>
					            <div class="form-group">
					                <%= label_tag 'name', 'Name' %><br>
					                <%= text_field_tag 'name', nil, class: 'form-input', placeholder: 'Your Name' %>
					            </div>
					           <div class="form-group">
					               <%= label_tag 'email', 'Email' %><br>
					               <%= email_field_tag 'email', nil, class: 'form-input', placeholder: 'Your Email Address' %>
					           </div>
					           <div class="form-group">
					               <%= label_tag 'message', 'Message' %><br>
					               <%= text_area_tag 'message', nil, class: 'form-control', rows: 4, placeholder: 'Write your message...' %>
					           </div>
					           <%= submit_tag nil, class: 'btn btn-default btn-about pull-right' %>
       <% end %>


	            		</div>
	            </div>
        	</div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="wrap-footer">
	<div class="footer">
		
	</div>
</div>

<div class="bottom-wrapper">
	<div class="bottom">
		<p class="text"><%= link_to 'HOME', public_home_path%> | <%= link_to 'ABOUT US', public_about_path %> | <%= link_to 'PRODUCTS', public_products_path %> | <%= link_to 'INSTRUCTIONS', public_instructions_path %> | <%= link_to 'CONTACT US', public_contact_path %></p>

        <p>Dayshades Bridal Boutique 2013 &copy; All rights reserved. Website by | <%= link_to 'Thabang Chewa ', "http://www.thabangchewa.co.za" %> & <%= link_to 'Lebo Modimola', "http://www.twitter.com/@lebom" %> </p>
	</div>
</div>
