<div class="wraptop">
  <div class="top">
        <div class="top-panel-links">
        	<ul class="list-align-right">
            	<li><%= image_tag ("facebook.png") %> </li>
                <li><%= image_tag ("twitter.png") %></li>
                <li><a href="#">Sign In</a></li>
            </ul>
        </div>
	</div>
</div>

<div class="wrapper">
	<div class="content">
    	<div class="header-row">
        	<div class="header-cols-2">
    			<div class="logo">
    				<%= link_to (image_tag ("logo.png")), public_home_path %>
    			</div>
             </div>
             
             <div class="header-cols-2">
    			
             </div>
        </div>

        <div class="row">
        	<div class="nav">
        		<ul>
        			<li><%= link_to 'HOME', public_home_path%></li>
        			<li><%= link_to 'ABOUT US', public_about_path %></li>
        			<li><%= link_to 'PRODUCTS', public_products_path %></li>
        			<li><%= link_to 'INSTRUCTIONS', public_instructions_path %></li>
        			<li><%= link_to 'CONTACT US', public_contact_path %></li>
        		</ul>
        	</div>
    	</div>
            
            <div class="row">
	            <div class="content-col">
	            	<%= image_tag ("slider.jpg") %>
	            </div>
        	</div>

            <div class="row">
                <div class="featured-categories">
                    <h1>FEATURED CATEGORIES</h1>

                    <div class="row">
                        <div class="content-col">
                                <% @categories.each do |category| %>
                                    <div class="picture_box">
                                          <%= image_tag(category.image, :size => "260x300") %><br/>
                                            <h3><%= category.name %><h3>
                                            <div class="clear"><br></div>
                                            <%= link_to 'VIEW CATEGORY','#', {class:"button-class"} %>
                                            <br><br>
                                    </div>
                                <% end %>
                        
                        </div>
                            <div class="clear"><br><br></div>
                     </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="wrap-footer">
	<div class="footer">
		
	</div>
</div>

<div class="bottom-wrapper">
	<div class="bottom">
		<p class="text"><%= link_to 'HOME', public_home_path%> | <%= link_to 'ABOUT US', public_about_path %> | <%= link_to 'PRODUCTS', public_products_path %> | <%= link_to 'INSTRUCTIONS', public_instructions_path %> | <%= link_to 'CONTACT US', public_contact_path %></p>

        <p>Dayshades Bridal Boutique 2013 &copy; All rights reserved. Website by | <%= link_to 'Thabang Chewa ', "http://www.thabangchewa.co.za" %> & <%= link_to 'Lebo Modimola', "http://www.twitter.com/@leboomm" %> </p>
	</div>
</div>