<div class="wraptop">
  <div class="top">
        <div class="top-panel-links">
        	<ul class="list-align-right">
            	<li><%= image_tag ("facebook.png") %> </li>
                <li><%= image_tag ("twitter.png") %></li>
                <li><a href="#">Sign In</a></li>
            </ul>
        </div>
	</div>
</div>

<div class="wrapper">
	<div class="content">
    	<div class="header-row">
        	<div class="header-cols-2">
    			<div class="logo">
    				<%= link_to (image_tag ("logo.png")), public_home_path %>
    			</div>
             </div>
             
             <div class="header-cols-2">
    			
             </div>
        </div>

        <div class="row">
        	<div class="nav">
        		<ul>
        			<li><%= link_to 'HOME', public_home_path%></li>
        			<li><%= link_to 'ABOUT US', public_about_path %></li>
        			<li><%= link_to 'PRODUCTS', public_products_path %></li>
        			<li><%= link_to 'INSTRUCTIONS', public_instructions_path %></li>
        			<li><%= link_to 'CONTACT US', public_contact_path %></li>
        		</ul>
        	</div>
    	</div>
            
            <div class="row">
	            <div class="content-col">
	            	<h1>Instructions</h1>
	            		<div class='text-left'>
	            			<p><b>To ensure accurate measurements, we suggest having your measurements taken by a professional seamstress. If you can not get a professional seamstress to take your measurements you should follow this guide to ensure proper fit. Please Note: </p></b>

							<ul>

 							<li> You should always have someone else take your measurements, physically measuring yourself will provide you with inaccurate numbers, so please have someone help you.</li>

							<li> Wedding apparel is sized differently than ready to wear clothes. It is very important that you use this guide in conjunction with the size chart to help you determine your size in order to save time and money.</li>

							<li> You will need to take your measurements in the undergarments you will be wearing with the wedding gown.</li>

							<li> Be sure to stand up straight with your arms relaxed down by your side.</li>

							<li> Compare these measurements to our size chart and you should have a good fit.</li>

							<li> These charts show how measurements are mapped to the designer sizes. These measurements are taken to determine the closest size to be ordered. If your measurements indicate one size for the "bust" and a different size for the "waist/ and or hips", we suggest ordering according to the largest measurement.</li> 

							</ul>

							<p class="text-red"><b>INSTRUCTION TO FOLLOW WHEN PLACING AN ORDER </p></b>
							<ul>
							<li><b>Bust:</b> Not your bra size! Take the tape around your back and bring it across your nipple line (typically the fullest part of the breast). Your arms should be relaxed, down at your sides.</li>

							<li><b>Waist:</b> This is the smallest part of your waist. Typically it's an inch or so above your belly button.</li>

							<li><b>Hip:</b> around hips at fullest point, taking note of how far down from the waist that you are measuring. </li>

							<li><b>Shoulder to Shoulder:</b> Only needed for dress with sleeves. This is the width of your shoulder.</li>

							<li><b>Nipple to Nipple:</b> This is the distance between your two nipples. 
</li>
							<li><b>Shoulder To Nipple:</b> Start the tape at your shoulder and measure down to your nipple. </li>

							<li><b>Shoulder To Waist:</b> Start the tape at your shoulder and measure down to your waist line, Let the tape across your bust. </li>

							<li><b>Arm girth:</b> This measurement gives me the size of the sleeve hole that you are comfortable wearing. This measurement is entirely subjective and you can make it as deep or as tight as you are comfortable with.</li>

							<li><b>Bicep girth:</b> around arm at fullest part of upper arm.</li>

							<li><b>Waist to Hem (Net Size):</b> Measure from your Natural Waist to where you want the hem to be. This is a NET SIZE (No shoes). </li>

							<li><b>Full length (Net Size:</b> from Shoulder to feet): This is the length from your shoulder to your feet (No shoes). You should stand upright and your feet should keep together. Let the tape across your bust (culmination) in the front and drop naturally. </li>

							<li><b>Heels height:</b> Please tell me your shoes height when you marry.</li>

							<li class="text-red"><b>Last important: Please tell me how tall your are, without shoes.</b></li>
						</ul>

						</div>

						<div class='text-right'>
							<%= image_tag ("instruction.jpg") %>
						</div>

	            </div>
        	</div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="wrap-footer">
	<div class="footer">
		
	</div>
</div>

<div class="bottom-wrapper">
	<div class="bottom">
		<p class="text"><%= link_to 'HOME', public_home_path%> | <%= link_to 'ABOUT US', public_about_path %> | <%= link_to 'PRODUCTS', public_products_path %> | <%= link_to 'INSTRUCTIONS', public_instructions_path %> | <%= link_to 'CONTACT US', public_contact_path %></p>

        <p>Dayshades Bridal Boutique 2013 &copy; All rights reserved. Website by | <%= link_to 'Thabang Chewa ', "http://www.thabangchewa.co.za" %> & <%= link_to 'Lebo Modimola', "http://www.twitter.com/@lebom" %> </p>
	</div>
</div>


